<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offres de Stage</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script defer src="script.js"></script>
</head>
<body>
    <header>
        <h1>Offres de Stage</h1>
        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>
                <li><a href="offres.html">Offres de Stage</a></li>
                <li><a href="entreprise.html">Entreprises</a></li>
                <li><a href="connexion.html">Connexion</a></li>
                <li><a href="profil-etudiant.html">profil</a></li>
            </ul>
        </nav>
    </header>

    <section id="entreprise">
        <h2>nom de l'entreprise</h2>
        <div class="info public">
            <h3>info public</h3>
            <img src="https://cdn-icons-png.flaticon.com/512/16207/16207218.png" width=20 height=20/><h4>secteur d'activité</h4>
            <img src="https://cdn-icons-png.flaticon.com/512/8386/8386432.png" width=20 height=20/><h4>texte de description de l'entreprise</h4>
            <img src="https://cdn-icons-png.flaticon.com/512/8056/8056414.png" width=20 height=20/><h4>le mail</h4>
            <img src="https://cdn-icons-png.flaticon.com/512/5219/5219383.png" width=20 height=20/><h4>paris</h4>
        </div>
        <div class="info privé">
            <h3>info privé</h3>
            <button onclick="lesstagespublier()">les stages publier</button>
            <button onclick="candidature()">candidature</button>
            <button onclick="stagiaire()">stagiaire</button>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 Plateforme de Stage - Tous droits réservés</p>
    </footer>
</body>
</html>