<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plateforme de Stage</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <header>
        <img src="publique/assets/css/images/StageFinder.png" alt="StageFinder" id="logo">
        <h1>Plateforme de Stage</h1>
        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>
                <li><a href="offres.html">Offres de Stage</a></li>
                <li><a href="entreprise.html">Entreprises</a></li>
                <li><a href="connexion.html">Connexion</a></li>
                <li><a href="profil-etudiant.html">profil</a></li>

               

            </ul>
        </nav>
      
    </header>

    <section id="hero">
        <h2>Recherchez votre stage facilement</h2>
        <p>Accédez à une base de données d’offres de stage et d’entreprises.</p>
    </section>


<!-- C'est des exemples de stages que j'ai mis mais on peut changer  -->

    <section id="offres">
        <h2>Dernières Offres</h2>
        <div class="offre">
            <h3>Développeur Web - Stage 6 mois</h3>
            <p>Entreprise: Tech Corp</p>
            <p>Compétences: HTML, CSS, JavaScript</p>
            <button>Voir l'offre</button>
        </div>
        <div class="offre">
            <h3>Ingénieur Réseau - Stage 3 mois</h3>
            <p>Entreprise: NetSecure</p>
            <p>Compétences: Réseaux, Sécurité</p>
            <button>Voir l'offre</button>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 Plateforme de Stage - Tous droits réservés</p>
    </footer>
</body>
</html>
